body {
	color: white;
	background-color: red;
	padding: 20px;
	margin: 20px;
	position: relative;
	font-weight: bold;
	font-size: 20px;
}

div {
	color: black;
	background-color: blue;
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}